/* Configs */

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: rgba(0,0,0,0);;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* Animations */

@keyframes breathing-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.breathing-animation {
  animation: breathing-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* CSS Overwrite */

blockquote {
  border-left: 5px solid #009b3a;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(218, 241, 226, 0.5);
}

table.highlight > tbody > tr:hover {
  background-color: rgba(184, 209, 189, 0.5);
}

table, th, td {
  border: 1;
}

.pagination li.active {
  background-color: #009B3A;
}

.pagination {
  margin: auto;
  width: 50%;
  text-align: center;
}


/* Regular CSS */

#parallax1 {
  z-index: -1;
  position: absolute;
  width: 100%;

  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  

  -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
  filter: blur(5px);
}

#parallax2 {
  z-index: -10;
  position: absolute;
  width: 100%;
  -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
  filter: blur(30px);
}

#parallax-background {
  background-image: radial-gradient(circle,  #009b3a, #00742b);
  width: 100%;
  height: 125%;
  z-index: -11;
  position: absolute;
}

.parallax-container {
  height: 125%;
}

.nav-logo {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  transform: scale(1.01);
}

.nav-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-logo > a > img {
  width: 50px;
  height: auto;
  vertical-align: middle;
  margin: auto;
}

.nav-logo > a > span {
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
}

.navbar {
  background: none;
  box-shadow: none;
  margin-top: 1%;
}

.navbar > .container-wide {
  padding: 0 2em;
}

.nav-item {
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
}

.center-image {
  width: 100%;
  position: absolute;
}

.center-image > img {
  margin: 10% auto 0 auto;
  display: block;
}

.center-image > p {
  font-family: Verdana;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  
}